.wrapper {
  @apply relative z-50 flex flex-col h-screen w-screen justify-end;
  background-image: url('../../../assets/bg/storyMainMenu2.jpg');
  background-size: cover;
}

.image {
  @apply fixed -bottom-5 overflow-hidden;

  > img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}

.theEnd {
  @apply absolute top-40 rounded-xl border-mainBorder text-4xl p-5 border-2 bg-mainBG2 left-24;
}

.buttons {

}

.buttonsBlock {
  @apply rounded-xl w-fit bg-mainBG2 border-mainBorder border-2 py-8;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startButton {
  @apply mx-auto cursor-pointer flex items-center text-4xl rounded-2xl mb-9  justify-center  z-50;
  width: 300px;
}

.exitButton {
  @apply cursor-pointer flex items-center text-xl rounded-2xl border-2 border-mainBorder justify-center py-1 mx-auto bg-mainBG z-50;
  width: 100px;
}
