.wrapper__btn {
  display: inline-block;
  position: relative;
  padding: 80px 80px 10px;
  color: white;
  border: 4px solid #957d00;
  letter-spacing: 2px;
  font-size: 20px;
  background: -o-linear-gradient(45deg, rgb(7, 128, 147), rgb(9, 155, 177), rgb(11, 198, 227));
  background: linear-gradient(45deg, rgb(7, 128, 147), rgb(9, 155, 177), rgb(11, 198, 227));
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.wrapper__btn:hover {
  -webkit-animation: bg 0.5s infinite;
  animation: bg 0.5s infinite;
  font-weight: 700;
  text-shadow: 0px 0px 20px rgb(180, 180, 180);
  -webkit-box-shadow: inset 0px 0px 10px #8b7a24;
  box-shadow: inset 0px 0px 10px #8b7a24;
}
.wrapper__btn:active .wrapper__img,
.wrapper__btn:active .btn__value {
  visibility: hidden;
}
.wrapper__img {
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

@-webkit-keyframes bg {
  0% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  11.1111% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(157, 216, 227)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: linear-gradient(
      90deg,
      rgb(157, 216, 227),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  22.2222% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: linear-gradient(
      90deg,
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  33.3333% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: linear-gradient(
      90deg,
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  44.4444% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  55.5555% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      to(rgb(95, 225, 246))
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(95, 225, 246)
    );
  }
  66.6666% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      to(rgb(157, 216, 227))
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227)
    );
  }
  77.7777% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(213, 234, 237)),
      to(rgb(188, 229, 236))
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(213, 234, 237),
      rgb(188, 229, 236)
    );
  }
  88.8888% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(213, 234, 237))
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(213, 234, 237)
    );
  }
  100% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
}

@keyframes bg {
  0% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: -o-linear-gradient(
      left,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  11.1111% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(157, 216, 227)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: -o-linear-gradient(
      left,
      rgb(157, 216, 227),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
    background: linear-gradient(
      90deg,
      rgb(157, 216, 227),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  22.2222% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: -o-linear-gradient(
      left,
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
    background: linear-gradient(
      90deg,
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  33.3333% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: -o-linear-gradient(
      left,
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
    background: linear-gradient(
      90deg,
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  44.4444% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: -o-linear-gradient(
      left,
      rgb(7, 128, 147),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
  55.5555% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      color-stop(rgb(157, 216, 227)),
      to(rgb(95, 225, 246))
    );
    background: -o-linear-gradient(
      left,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(95, 225, 246)
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227),
      rgb(95, 225, 246)
    );
  }
  66.6666% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(213, 234, 237)),
      color-stop(rgb(188, 229, 236)),
      to(rgb(157, 216, 227))
    );
    background: -o-linear-gradient(
      left,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227)
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(213, 234, 237),
      rgb(188, 229, 236),
      rgb(157, 216, 227)
    );
  }
  77.7777% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(213, 234, 237)),
      to(rgb(188, 229, 236))
    );
    background: -o-linear-gradient(
      left,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(213, 234, 237),
      rgb(188, 229, 236)
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(213, 234, 237),
      rgb(188, 229, 236)
    );
  }
  88.8888% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(213, 234, 237))
    );
    background: -o-linear-gradient(
      left,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(213, 234, 237)
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(213, 234, 237)
    );
  }
  100% {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(7, 128, 147)),
      color-stop(rgb(9, 155, 177)),
      color-stop(rgb(11, 198, 227)),
      color-stop(rgb(51, 211, 236)),
      color-stop(rgb(68, 216, 239)),
      to(rgb(95, 225, 246))
    );
    background: -o-linear-gradient(
      left,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
    background: linear-gradient(
      90deg,
      rgb(7, 128, 147),
      rgb(9, 155, 177),
      rgb(11, 198, 227),
      rgb(51, 211, 236),
      rgb(68, 216, 239),
      rgb(95, 225, 246)
    );
  }
}
