.item {
  @apply flex flex-col w-full fixed bottom-3 z-30 opacity-0;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}
.item_left {
  @apply h-photo w-96 relative top-20 left-36;
}
.item_right {
  @apply h-photo w-96 relative top-20;
  left: 1000px;
}

.opacity1 {
  @apply opacity-100;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}

.opacity0 {
  @apply opacity-0;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}