.btn-back {
  @apply flex w-fit m-1 items-center cursor-pointer text-xl bg-main rounded-lg border border-mainBorder text-amber-50 p-2;
  transition: background-color 0.4s, color 0.4s;
  &:hover {
    @apply text-main bg-amber-50;
  }
  &:active {
    transform: scale(105%);
  }
}
.btnRestart{
  &:hover svg{
    transform: rotate(360deg);
    transition: .7s;
  }
}
.btnArrow{
  &:hover svg{
    animation: arrowMove .7s infinite;
  }
  &:active svg{
    animation: none;
  }
}
@keyframes arrowMove {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-3px);
  }
  100%{
    transform: translate(0);
  }
}
