$color1: #eed375;
$color2: rgba(11, 198, 227, 1);
.border {
  max-width: 1300px;
  border: 2px solid $color1;
  border-radius: 30px;
  @apply mx-auto w-full;
  //border-radius: 0px 30px 30px 0px;
  //box-shadow: inset 0 0 px $color1, 0 0 5px $color1;
}

.window {
  border-radius: inherit;
  padding: 20px;
  background-color: rgba(16, 4, 28, 0.6);
  max-height: 250px;
  height: 100vh;
  position: relative;
  &__textArea {
    box-shadow: inset 0 0 10px $color2, 0 0 5px $color2;
    border: 2px solid #957d00;
    border-radius: 20px;
    color: white;
    max-height: 151px;
    height: inherit;
    padding: 8px 0 0 12px;
  }
}
.name {
  box-shadow: inset 0 0 10px $color2, 0 0 5px $color2;
  border: 2px solid #957d00;
  border-radius: 0px 0px 20px 20px;
  color: white;
  text-align: center;
  font-size: 25px;
  max-width: 500px;
  margin: -1px auto 20px;
}
.text {
  word-wrap: break-word;
}
.img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -73px;
  width: 800px;
  height: 120px;
}
.decorImg {
  position: absolute;
  max-width: 100px;
}
.decorImgTR {
  transform: rotate(180deg);
  top: -10px;
  right: -10px;
}
.decorImgTL {
  transform: rotate3d(1, 0, 0, 180deg);
  top: -10px;
  left: -10px;
}
.decorImgBR {
  transform: rotate3d(0, 1, 0, 180deg);
  bottom: -10px;
  right: -10px;
}
.decorImgBL {
  bottom: -10px;
  left: -10px;
}
