$gg: #c8a807;
.border {
    border: 2px solid $gg;
    max-width: 1000px;
    box-shadow: inset 0 0 8px $gg, 0 0 5px $gg;
}
.window {
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(16, 4, 28, 0.6);
    max-height: 250px;
    height: 100vh;
    position: relative;
}
.name {
    //border-bottom: 2px solid #957d00;
    border: 2px solid #957d00;
    border-radius: 30px;
    color: white;
    max-width: 100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}
.text {
    word-wrap: break-word;
    text-shadow: 0 0 10px snow;
    color: black;
}
.img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -60px;
    width: 800px;
    height: 120px;
}
