.wrapper {
  @apply fixed top-0 left-0 h-screen w-screen z-50 font-ubuntuMedium;
  transition-duration: 1000ms;
}

.buttonTest {
  @apply border-2 rounded p-5 bg-mainBG2 border-mainBorder opacity-0 cursor-pointer hover:bg-mainBG duration-300;
  -ms-user-select: none;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
}

.alertButtons {
  @apply absolute bottom-16 flex w-full justify-around;
}

.opacity1 {
  @apply opacity-100 bottom-16;
  transition-duration: 500ms;
}

.tornado {
  @apply absolute opacity-0;
  height: 600px;
  animation: tornado 4s;
  animation-delay: 5.9s;
  animation-fill-mode: forwards;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
}

.hasage {
  @apply z-50 absolute -left-24 top-32 opacity-0;
  animation: hasage 2s ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
}

.hasagePlay {
  @apply z-50 absolute top-20 opacity-0;
  animation: hasagePlay 0.6s ease-in-out;
  animation-delay: 5.6s;
  animation-fill-mode: forwards;
  left: -240px;
  width: 600px;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
}

.logoStart {
  @apply z-30;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
  transition-duration: 1000ms;
  animation: startLogo 1s ease-in-out infinite;
  left: 9%;
}

.logoTest {
  @apply absolute top-12;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
  animation: showTest 1.5s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes showTest {
  0% {
    top: 48px;
  }
  90% {
    top: 178px;
  }
  100% {
    top: 169px;
  }
}

@keyframes tornado {
  0% {
    left: 20px;
    opacity: 1;
    z-index: 60;
  }
  99% {
    z-index: 60;
  }
  100% {
    left: 70%;
    opacity: 1;
    z-index: 0;
  }
}

@keyframes hasage {
  0% {
    opacity: 1;
    left: -50%;
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  99% {
    transform: rotateY(180deg);
    left: -5rem;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hasagePlay {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes startLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}
