.wrapper {
  @apply fixed top-0 left-0 h-screen w-screen z-50 font-ubuntuMedium;
  transition-duration: 1000ms;
}
.alertButtons {
  background-color: rgba(0, 0, 0, 0.493);
  padding: 10px 0;
  align-items: center;
}
.poroImg {
  order: 2;
  img {
    height: 50px;
    width: 50px;
    transform-origin: center;
  }
  .poroMove {
    display: none;
  }
}
.btnTest {
  order: 1;
  &:hover ~ .poroImg .poroMove {
    display: block;
    transform: rotateY(180deg);
    animation: poroTest 1s forwards;
  }
  &:hover ~ .poroImg .poroStatic {
    display: none;
  }
}
.btnStory {
  order: 3;
  &:hover ~ .poroImg .poroMove {
    display: block;
    animation: poroStory 1s forwards;
  }
  &:hover ~ .poroImg .poroStatic {
    display: none;
  }
}
.buttonTest {
  padding: 20px 40px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0);
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    box-shadow: inset 0px 0px 20px 3px #957d00, 0px 0px 20px 3px #957d00;
    border: 2px solid #957d00;
    background-color: rgba(0, 0, 0, 0.348);
  }
}

.alertButtons {
  @apply absolute bottom-16 flex w-full justify-around;
}

.opacity1 {
  @apply opacity-100 bottom-16;
  transition-duration: 500ms;
}

.tornado {
  @apply absolute opacity-0;
  height: 600px;
  top: 40px;
  animation: tornado 4s;
  animation-delay: 5.9s;
  animation-fill-mode: forwards;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hasage {
  @apply z-50 absolute -left-24 opacity-0;
  top: 140px;
  animation: hasage 2s ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  height: 600px;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hasagePlay {
  @apply z-50 absolute opacity-0;
  animation: hasagePlay 0.6s ease-in-out;
  top: 140px;
  animation-delay: 5.6s;
  animation-fill-mode: forwards;
  left: -240px;
  width: 600px;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.logoStart {
  @apply z-30;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition-duration: 1000ms;
  animation: startLogo 1s ease-in-out infinite;
  left: 9%;
}

.logoTest {
  @apply absolute top-12;
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  animation: showTest 1.5s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes showTest {
  0% {
    top: 48px;
  }
  90% {
    top: 178px;
  }
  100% {
    top: 169px;
  }
}

@keyframes tornado {
  0% {
    left: 20px;
    opacity: 1;
    z-index: 60;
  }
  99% {
    z-index: 60;
  }
  100% {
    left: 70%;
    opacity: 1;
    z-index: 0;
  }
}

@keyframes hasage {
  0% {
    opacity: 1;
    left: -50%;
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  99% {
    transform: rotateY(180deg);
    left: -30%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hasagePlay {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes startLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes poroTest {
  0% {
    transform: rotateZ(0) rotateY(180deg) translate(0);
  }
  20% {
    transform: rotateZ(3deg) rotateY(180deg) translate(64px);
  }
  40% {
    transform: rotateZ(0deg) rotateY(180deg) translate(128px);
  }
  60% {
    transform: rotateZ(3deg) rotateY(180deg) translate(192px);
  }
  80% {
    transform: rotateZ(0deg) rotateY(180deg) translate(256px);
  }
  100% {
    transform: rotateZ(0) rotateY(180deg) translate(320px);
  }
}
@keyframes poroStory {
  0% {
    transform: rotateZ(0) translate(0);
  }
  20% {
    transform: rotateZ(3deg) translate(64px);
  }
  40% {
    transform: rotateZ(0deg) translate(128px);
  }
  60% {
    transform: rotateZ(3deg) translate(192px);
  }
  80% {
    transform: rotateZ(0deg) translate(256px);
  }
  100% {
    transform: rotateZ(0) translate(320px);
  }
}
