@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@font-face {
  font-family: 'UbuntuMedium';
  src: url('./fonts/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: 'UbuntuBold';
  src: url('./fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url('./fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'UbuntuLight';
  src: url('./fonts/Ubuntu-Light.ttf');
}
