.item {
  @apply flex flex-col w-10/12 relative z-30;
  transition-duration: 300ms;

  &_left {
    @apply h-photo w-1/2 relative top-28 -left-16;
  }

  &_right {
    @apply h-photo w-1/2 relative top-20;
    left: 670px;
  }
}

.opacity1 {
  @apply opacity-100;
  transition-duration: 300ms;
}

.opacity0 {
  @apply opacity-0;
  transition-duration: 300ms;
}
