.item {
  @apply flex flex-col w-10/12 relative z-30;
  transition-duration: 300ms;

  &_left {
    @apply h-photo w-2/5 relative top-28 -left-0;
  }

  &_right {
    @apply h-photo w-1/4 relative top-32;
    left: 800px;
  }

  &_center {
    @apply h-photo w-1/3 relative top-32;
    left: 400px;
  }
}

.opacity1 {
  @apply opacity-100;
  transition-duration: 300ms;
}

.opacity0 {
  @apply opacity-0;
  transition-duration: 300ms;
}
