.answer {
  text-align: center;
  // @apply bg-mainBG2;
  word-wrap: break-word;

  span {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    border: 2px solid #c0a20b;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    padding: 7px 20px;
    transition: 0.3s;
    &::before{
      content: '';
      display: block;
      position: absolute;
      height: 40px;
      width: 40px;
      background: url('../../../assets/decorations/arrow2.png') 0 0/cover no-repeat;
      top: 50%;
      left: -60px;
      transform: translateY(-50%) scale(0);
      transition: 0.2s;
    }
    &:hover {
      transform: scale(102%);
      box-shadow: inset 0 0px 10px #c0a20b, 0 0 10px #c0a20b;
      &::before{
        transform: translateY(-50%);
        animation: arrow-move .8s infinite;
      }
    }
    &:active {
      transform: scale(105%);
    }
  }
}
@keyframes arrow-move {
  0%{
    left: -60px;
  }
  50%{
    left: -50px;
  }
  100%{
    left: -60px;
  }
}
