.wrapper {
  background-image: url('../../../assets/bg/storyMainMenu.jpg');
  @apply min-h-screen;
}

.startButton {
  @apply relative mx-auto cursor-pointer flex items-center text-4xl rounded-2xl border-2 py-3 border-mainBorder justify-center bg-mainBG2 z-50;
  top: 200px;
  width: 300px;
}

.continueButton {
  @apply relative cursor-pointer flex items-center text-4xl rounded-2xl border-2 border-mainBorder justify-center py-3 mx-auto bg-mainBG2 z-50;
  top: 250px;
  width: 250px;
}

.exitButton {
  @apply relative cursor-pointer flex items-center text-4xl rounded-2xl border-2 border-mainBorder justify-center py-2.5 mx-auto bg-mainBG2 z-50;
  top: 300px;
  width: 200px;
}
